/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

label.xng-breadcrumb-trail{
    color: orange !important;
}

// hide carsoul icons if needed
// .icon-next{
//     display: none !important;
// }

// .icon-prev{
//     display: none !important;
// } 

.btn-primary{
    background-color: orange !important;
    border-color: orange !important;
}


.btn-outline-primary{
    border-color: orange !important;
    color: orange !important;
    
}