<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container d-flex justify-content-center">
    <div class="brand ms-1">
      <a class="navbar-brand"
        ><img
          src="../../assets/images/logo.png"
          class="w-50"
          alt="logo"
          routerLink="/"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse d-flex justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop" routerLinkActive="active"
            >Shop</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/test-errors"
            routerLinkActive="active"
            >Test Errors</a
          >
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
    <div
      class="auth d-flex justify-content-center align-content-center align-items-center"
    >
      <a class="position-relative text-black">
        <i class="fa fa-shopping-cart mx-4" style="font-size: 20px"></i>
        <div class="bg-info cart-no">5</div>
      </a>
      <ul class="navbar-nav me-1 mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-outline-secondary mx-2">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-secondary">Sign up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
