

.cart-no{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -12px !important;
    left: 38px !important;
    text-align: center;
    color: white;
    font-size: 14px;

}

.active{
    color: orange !important;
    font-weight: bold;
}